
body {
  margin: 0;
  padding: 0;
  font-family: 'Radio Canada', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  background-color: black;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
}

.active_ct{
  background-color: black;
  padding: 10px 16px; 
  cursor: pointer;
  border-radius: 10px;
  color: white;
}
.ic_w{
  transform: rotate(180deg);
}

.shoes_active{
  background-color: black;
  color: white;
  border-radius: 12px;
}
.shoes_blocked{
  border-radius: 12px;
  opacity: 0.5;
  background-color: aliceblue;
  color: black;
  pointer-events: none;
}

.inner{
  cursor: pointer;
  padding: 12px 15px;
  color: black;
  font-size: 18px; 
  border: 1px solid black;
}
.inner:hover{
  font-weight: bold;
  color: white;
  background-color: black;
  border: 1px solid black;
}
.size_active{
  font-weight: bold;
  padding: 12px 15px;
  font-size: 18px; 
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 0;
}