.sneaker_inner{
    color: rgb(126, 126, 126);
}

.sneaker_active{
    color: rgb(255, 0, 0);
}

.z{
    transition: all .8s ease;
    cursor: zoom-in;
}
.zoom {
    transform: scale(1.8);
    transition: all .8s ease;
    cursor: zoom-out;
}
.activesize{
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}

.diactivesize{
    color: gray;
    text-decoration: line-through;
    border: 1px solid black;
   pointer-events: none;
}
