.details{
    flex-direction: row;
    position: sticky;
    top: 0;
    &_images{
        display: flex;
        flex-direction: column;
        &_left{
            width: 75%;
            background-color: #eceff1;
            &_main{
                margin: 0 auto;
                width: 600px;
                height: 600px;
                img{
                    max-width: 100%;
                }
            }
            &_dop{
                position: sticky;
                top: 60px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                img{
                    max-width: 65px;
                }
            }
            &_under{
                max-width: 960px;
                margin:  0 auto;
                &_higlights{
                    p{
                        border: 1px solid black;
                        font-size: 19px;
                        padding: 10px 5px;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}