.details{
    flex-direction: row;
    position: sticky;
    top: 0;
    &_images{
        display: flex;
        flex-direction: row;
        &_left{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            background-color: #eceff1;
            Link{
                z-index: 999999;
            }
            &_main{
                max-width: 650px;
                max-height: 650px;
                img{
                    max-width: 100%;
                }
            }
            &_dop{
                z-index: 9999999;
                position: sticky;
                top: 150px;
                display: flex;
                justify-content: center;
                flex-direction: row;
                img{
                    max-width: 65px;
                }
            }
            &_image_two{
                z-index: 99999;
                display: flex;
                flex-basis: 42%;
                flex-direction: row;
                
                div{
                    border-top: 1px solid white;
                    border-right:1px solid white ;
                    max-width: 50%;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            &_show{
                z-index: 999999;
                display: flex;
                flex-direction: column;
                align-items: center;
                &_btn{
                    border: 0;
                    font-size: 18px;
                    padding: 10px 35px;
                    background-color: black;
                    color: white;
                }
            }
            &_under{
                max-width: 960px;
                margin:  0 auto;
                &_higlights{
                    p{
                        border: 1px solid black;
                        font-size: 19px;
                        padding: 10px 5px;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
            }
        }
        &_right{
            border-left: 1px solid rgb(197, 197, 197);
            height: auto;
            width: 25%;
            display: flex;
            &_fix{
                z-index: 9999999999999999999;
                position: fixed;
                padding: 50px 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &_categ{
                    font-size: 16px;
                }
                &_name{
                    padding-top: 20px;
                    font-size: 32px;
                    font-weight: 500;
                    font-style: italic;
                    text-align: left;
                }
                &_price{
                    font-weight: 500;
                    font-size: 18px;
                }
                &_discount{
                    text-decoration: line-through;
                    color: red;
                }
                &_sizeboks{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-bottom: 35px;
                    nav{
                        flex-basis: 9%;
                        padding: 15px;
                        font-size: 18px;
                        border: 1px solid black;
                    }
                    nav:hover{
                        background-color: black;
                        color: white;
                    }
                }
                &_button{
                    background-color: black;
                    color: white;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 70%;
                    padding: 20px 40px;
                    cursor: pointer;
                    &_btn{
                        cursor: pointer;
                        border: 0;
                        background-color: black;
                        font-weight: 500;
                        font-style: italic;
                        font-size:19px;
                        color: white;
                    }
                }
                &_button:active{
                    transition: all .7s ease;
                    transform: scale(0.7);
                }
                &_button:hover{
                    transition: all 1s ease;
                    color: gray;
                    button{
                        transition: all 1s ease;
                        color: gray;
                    }
                }
            }
        }
        
    }
}