.footer{
    flex-direction: column;
    width: 100%;
    &_navbar{
        max-width: 1160px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_foot{
        border-top: 1px solid #616363;
        color: #c8cbcc;
        background-color: #363738;
        font-size: 12px;
        height: 120px;
        &_inner{
            max-width: 1010px;
            margin: 0 auto;
        }
    }
}