.footer {
    width: 100%;
    padding: 80px 0 80px;
    background-color: #e9ecef;
    &_inner {
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 30px;
        text-align: left;
    }
}
