.m {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9ecef;
    &_top {
        color: white;
        gap: 5px;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &_del {
            path {
                stroke: white;
            }
        }
        p {
            margin: 0;
            font-size: 14px;
            padding: 6px 0;
            font-weight: 500;
        }
    }
    .main {
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 6px 35px;
        @media (max-width: 768px) {
            padding: 15px 10px;
        }
        .navbar {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            @media (max-width:320px){
                gap: 15px;
            }
            &_bar {
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 1rem;
                font-family: "Radio Canada", sans-serif;
            }
        }
        .cart {
            color: black;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }
        .cart:hover {
            transition: all 0.2s ease-in-out;
            transform: scale(0.98);
        }
    }
}
