.main{
    width: 100%;
    height: auto;
    background-color: black;
    &_shoes{
        background-image: url(../img/ShoesBg.webp);
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: right;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;;
        .shoes_block{
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1{
                color: rgb(255, 255, 255);
                font-size: 3.5rem;
                font-weight: 600;
            }
            &_info{
                text-transform: uppercase;
                color: white;
                font-size: 2.8rem;
                margin: 0;
            }
            .shoes_btn{
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: white;
                border-radius: 10px;
                padding: 10px 0px;
                width: 45%;
                text-decoration: none;
                &_inner{
                    color: black;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
                &_icon{
                    color: black;
                }
            }
            .shoes_btn:hover{
                transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                background-color: rgb(182, 182, 182);
            }
            .shoes_btn:active{
                transform: scale(0.95);
            }
            
        }
    }
    &_clother{
        background-image:url(../img/CLother.jpg),  url(../img/ShoesC.jpg), url(../img/ShoEs.jpg);
        width: 100%;
        height: 900px;  
        background-size: contain;
        background-position: left, center ,right ;
        background-repeat: no-repeat;
        .clother_block{
            padding: 30px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &_left{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .block_info{
                    margin-bottom: 25px;
                    margin-left: 30px;
                    color: white;
                    font-size: 3rem;
                }
            }
        }
        .clother_center{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &_info{
                font-size: 3.5rem;
                color: white;
            }
            &_btn{
                background-color: rgb(245, 176, 176);
                color: black;
                text-decoration: none;
                opacity: 0.5;
                padding: 10px 20px;
                border-radius:15px ;
                display: flex;
                align-items: center;
                flex-direction: row;
                nav{
                    font-size: 1.2rem;
                    padding-right: 15px;
                }
            }
            &_btn:hover{
                transform: scale(1.15);
                transition: all 0.5s ease;
                opacity: 0.7;
                border-radius: 7px;
                padding: 10px 30px;
            }
        }
    }
}