.main{
    max-width: 1480px;
    margin: 0 auto;
    @media(max-width:560px){
        width: 90%;
    }
    .log{
        display: flex;
        justify-content: flex-start;
    }
    &_category{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 70px;
        padding: 15px 15px;
        border-bottom: 1px solid black;
        &_left{
            display: flex;
            flex-direction: row;
            gap: 25px; 
            nav{
                padding: 7px 16px;
                cursor: pointer;
            }
            nav:hover{
                background-color: black;
                color: white;
                border-radius:10px;
                padding: 7px 16px;
                cursor: pointer;
            }
        }
        &_rg{
            position: relative;
            .category_rg{
                display: flex;
                flex-direction: row;
                gap: 10px;
                &_click{
                    cursor: pointer;
                }
            }
            .category_rg_scr{
                border-radius: 10px;
                top: 30px;
                right: 0;
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: gainsboro;
                width: 150px;
                &_check{
                    border-radius: 5px  ;
                    display: flex;
                    align-items: flex-start;
                    width: auto;
                    font-size: 1.2rem;
                    padding: 10px 5px;
                }
                &_check:hover{
                    transition: all 0.4s ease-in-out;
                    background-color: rgb(133, 133, 133);
                    color: white;
                }
            }
        }
    }
    &_shoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width:1300px){
            justify-content: center;
            gap: 40px;
        }
        &_cart{
            margin-bottom: 50px;
            background-color: rgb(216, 216, 216);
            width: 380px;
            height: 550px;
            .cart_img{
                max-width: 100%;
                height: auto;
                
            }
            &_choice_color{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px 0 ;
                nav{
                    padding: 10px 15px;
                    cursor: pointer;
                }
                
            }
            &_choice_size{
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                nav{
                    padding: 10px 15px;
                    cursor: pointer;
                }
            }
        }
    }
}